#sampler {
  display: none;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

#toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  max-width: 20em;
  overflow-y: auto;
}

#toolbar #options {
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: border-box;
  padding: 20px;
}

#toolbar #options label {
  text-align: right;
  margin: 10px;
  margin-right: 2px;
}

#toolbar #options input {
  text-align: right;
  margin: 5px;
  width: 6em;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  text-align: left !important;
}

#result {
  /* width: calc(100% - 300px); */
  /* object-fit: contain; */
  /* box-sizing: border-box; */
  padding: 50px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
  margin: 0 auto;
}

#colour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#colour input,
#colour button {
  width: 30px;
  height: 30px;
  margin: 2px;
  padding: 3px;
  border: none;
  background: none;
  font-size: 25px;
}

#colour input {
  padding: 0;
}

#colour div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#colour button {
  user-select: none;
  font-family: "Roboto", sans-serif;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #FF0000;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 0 0 0 2px white;
}

.dot.active {
  border: 3px solid white;
  box-shadow: 0 0 0 3px black;
}
