#sampler {
  display: none;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  height: 100vh;
}

#toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  max-width: 20em;
  overflow-y: auto;
}

#toolbar #options {
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: border-box;
  padding: 20px;
}

#toolbar #options label {
  text-align: right;
  margin: 10px;
  margin-right: 2px;
}

#toolbar #options input {
  margin: 5px;
  width: 3em;
  border: none;
  font-family: "Abel", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #B000B5;
}

#result {
  padding: 50px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
  margin: 0 auto;
}

#colour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#colour button {
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 3px;
  border: none;
  background: #da00e0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
}

#colour input {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: none;
}

#colour input::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colour input::-webkit-color-swatch {
  border-radius: 50%;
  background: none;
  border: 2px solid #eee;
}

#colour div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#colour button {
  user-select: none;
  font-family: "Abel", sans-serif;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #FF0000;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 0 0 0 2px white;
}

.dot.active {
  border: 3px solid white;
  box-shadow: 0 0 0 3px black;
}

#saveButton {
  margin: 0 auto;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #da00e0;
  padding: .75em 2em;
  border-radius: 2em;
  box-shadow: 0 7px 10px -3px rgba(0, 0, 0, .5);
  transition: box-shadow .5s;
}

#save:hover {
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, .5);
}

#saveButton:active {
  background: #B000B5;
}